html,
body {
  height: 100vh;
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: "Press Start 2P", "Open Sans", sans-serif, cursive;
  color: white;
  text-align: center;
}

main {
  padding: 5%;
}

section {
  display: flex;
  flex-direction: column;
}

.part {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem;
}

.pfp {
  height: 100px;
  width: 100px;
  display: flex;
  border-radius: 100%;
  background-color: red;
}

.about {
  max-width: 85%;
  align-self: center;
}

.socials {
  list-style: none;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  max-width: 65%;
  align-self: center;
  justify-self: center;
}

.socials a {
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  transition: all 0.25s ease;
}

.socials a:hover {
  color: #ffd400;
}

@media only screen and (max-width: 512px) {
  .socials {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 300px) {
  .socials {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
